@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


div {
	font-family: monospace;
	padding: 20px;
}

body {

    background-color: #ffe6e6; /* Gris claro */
    color: #333;
}
